#steppersMain {
  #steppersBox {
    display: flex;
    width: 100px;
    .left, .right {
      background-color: #ffb800;
      width: 30%;
      display: flex;
      justify-content: center;
      border-radius: 4px 0 0 4px;
      border: 1px solid #ffb800;
      color: #ffffff;
      font-size: 20px;
      &:hover {
        background-color: #f19f34;
        border: 1px solid #f19f34;
        cursor: pointer;
      }
      &.disable {
        background-color: #f8ca8e;
        border: 1px solid #f8ca8e;
        cursor: no-drop;
      }
    }
    .center {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #c4c4c4;
      border-left: 0px;
      border-right: 0px;
      font-size: 14px;
    }
    .right {
      justify-content: center;
      border-radius: 0 4px 4px 0;
    }
  }
}