#productListsMain {
  width: 70%;
  max-width: 1200px;
  #filterBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #productLists {
    margin: 5px 0 35px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 210px));
    grid-gap: 15px;
    justify-content: center;
    #controlBar {
      grid-column: span 5;
      height: 35px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      #orderText {
        margin-right: 8px;
        color: #7B7B7B;
        font-size: 14px;
      }
      #orderBox {
        width: 150px;
        font-size: 14px;
        --border: 1px solid #bebebe;
        --borderFocusColor: #7B7B7B;
        --borderHoverColor: #7B7B7B;
        --borderRadius: 5px;
        --inputPadding: 3px 35px 0 10px;
        --indicatorHeight: 20px;
        --height: 35px;
        --indicatorTop: 7px;
      }
      @media screen and (max-width: 1585px) {
        grid-column: span 4;
      }
      @media screen and (max-width: 1264px), (max-width: 850px) {
        grid-column: span 3;
      }
      @media screen and (max-width: 942px) and (min-width: 850px), (max-width: 659px) {
        grid-column: span 2;
      }
      @media screen and (max-width: 434px) {
        grid-column: span 1;
        #orderText {
          display: none;
        }
        #orderBox {
          width: 100%;
        }
      }
    }
    .grid-item {
      position: relative;
      color: #fff;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 3px 2px 8px #e2e2e2;
      border: 2px solid #ffffff;
      &:hover {
        border: 2px solid #ff7b00;
        box-shadow: 3px 2px 8px #b1b1b1;
        box-sizing: border-box;
    }
      .product-tag {
        position: absolute;
        background-color: #FFB800;
        border: 1px solid #ffffff;
        padding: 0 20px;
        font-size: 14px;
        margin: 2px 0 0 2px;
      }
      .product-image {
        width: 100%;
        height: 160px;
        box-shadow: 0 4px 2px -2px rgb(196, 196, 196);
      }
      .product-name {
        color: #000000;
        text-align: center;
        margin: 5px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 20px);
        white-space: nowrap;
      }
      .product-price-box {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        .product-price {
          background-color: #FFB800;
          border-radius: 15px;
          font-size: 13px;
          padding: 1px 15px;
        }
      }
      .product-line {
        margin: 10px 20px;
        border: 1px solid #dfdfdf;
        background-color: #dfdfdf;
        border-radius: 10px;
        outline: none;
      }
      .product-detail {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        .product-detail-button {
          color: #FFB800;
          width: 150px;
          height: 35px;
          outline: none;
          border: 1px solid #FFB800;
          background-color: #ffffff;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:hover {
            background-color: #FFB800;
            color: #ffffff;
          }
        }
      }
    }
  }
  @media (max-width: 850px) {
    width: 100%;
  }
}