#loginMain {
  $navHeight: 50px;
  $footerHeight: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (#{$navHeight} + #{$footerHeight}));
  #loginBox {
    border-radius: 5px;
    font-size: 2rem;
    padding: 30px 15px 15px;
    background-color: #fff;
    width: 350px;
    box-shadow: 0 4px 4px #0000003F;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .input-box {
      font-size: 1rem;
      height: 40px;
      width: 100%;
      position: relative;
      margin-bottom: 25px;
      .input {
        height: 40px;
        width: 100%;
        padding: 0 10px 0 40px;
      }
      .input-icon {
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        margin-left: 10px;
      }
    }
    .login-button {
      color: #fff;
      font-size: 1rem;
      height: 40px;
      width: 100%;
      background-color: #FFB800;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}